@charset "utf-8";
* {
    margin: 0%;
    padding: 0%;
}
body {
    font-family:"游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
    background: linear-gradient(-135deg, #E4A972, #ff90cd) fixed;
}

h1 {
    text-align: center;
    line-height: 2em;
    background-color: rgb(255, 227, 244);
}

#menu {
    list-style: none;
    overflow: hidden;
}
#menu li {
    width: 33.333%;
    text-align: center;
    background-color: #000000;
    float: left;
}
#menu li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}

#profile {
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
}

h2 {
    text-align: center;
    line-height: 4em;
    font-size: 50px;
    color: #ffffff;
}

#tokubetu {
    font-size: 130%;
    text-align: center;
}

p {
    font-size: 110%;
    color: #ffffff;
}



h3 {
    line-height: 8em;
    text-align: center;
}

.mokuji {
    margin: 16px auto;
	text-align: center;
	display: block;
	border: 1px solid #000;
    background-color: rgb(242, 255, 169);
}

.youtube {
    text-align: center;
}

.junban {
    text-align: center;
}

h4 {
    line-height: 3em;
    text-align: center;
    font-size: 40px;
    color:  rgb(0, 0, 0);
}

h5 {
    line-height: 3em;
    text-align: center;
    font-size: 40px;
    color:  rgb(255, 236, 153);

}

.syoukai {
    overflow: hidden;
    padding: 0.5em 1em;
    margin: 0.5em 0;
    color: #5d627b;
    background: white;
    border-top: solid 5px #5d627b;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}
.syoukai p {
    text-align: center;
    color: black;
}

.riyuu-1 {
    overflow: hidden;
    padding: 0.5em 1em;
    margin: 0.5em 0;
    color: #5d627b;
    background: rgb(255, 236, 153);
    border-top: solid 5px #5d627b;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}
.riyuu-1 p {
    text-align: center;
    color: black;
}

.wake {
    font-size: 30px;
}

.song {
    font-size: 30px;
    color: rgb(170, 221, 255);
}

h6 {
    line-height: 3em;
    text-align: center;
    font-size: 40px;
    color:  rgb(170, 221, 255);
}

.matome {
    line-height: 3em;
    text-align: center;
    font-size: 40px;
    color:  rgb(255, 236, 153);
}

#army{ 
    line-height: 3em;
    text-align: center;
    font-size: 40px;
    color:  rgb(255, 236, 153);

}

.situmon {
    text-align: center;
    line-height: 2em;
    background-color: rgb(255, 227, 244);
}


input[type="submit"]{
    border:1px solid #00ccff;
}